################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pos_API/obj/Release/net6.0
/Pos_API/Properties/PublishProfiles
